.FormCard {
    position: relative;
    background-color:#EBE3D5;
    margin: 0 auto;
    width: 1000px;
    margin-top:20px;
    padding: 20px;
    box-shadow:
    inset #4e463e 0 0 0 5px, 
    inset #776B5D 0 0 0 1px,
    inset #918373 0 0 0 10px, 
    inset #918373 0 0 0 11px;
    transition: margin-left 0.2s;
  }
  .FormCard h1
  {
    text-align: center;
  }
  form {
    position: relative;
  }
  .Main
  {
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
  }
  .FirstModule 
  {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
  }
  .SecondModule
  {
    display: grid;
    padding-top: 5px;
    grid-template-rows: auto auto auto auto auto; 
  }
  .text , .password , .email , .birthdate ,  .time
  {
    display: grid;
    grid-template-columns: auto;
  }
  input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .Button {
    padding:10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  button
  {
    border:none;
    background-color: #fbeee0;
    font-size: 20px;
  }
  .Submitbtn , .Resetbtn{
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .Submitbtn:hover , .Resetbtn:hover , button:hover{
    background-color: #7a654d;
  }
  @media screen and (max-width: 1209px) {
    .FormCard {
      width: 900px;
    }
  
  }
  @media screen and (max-width: 1063px) {
    .FormCard {
      width: 800px;
    }
  
  }
  @media screen and (max-width: 963px) {
    .FormCard {
      width: 700px;
    }
  
  }
  @media screen and (max-width: 863px) {
    .FormCard {
      width: 600px;
    }
    .Hobbies
    {
      display:flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 763px) {
    .FormCard {
      width: 500px;
    }
  }
  @media screen and (max-width: 663px) {
    .FormCard {
      width: 450px;
    }
  }
  @media screen and (max-width: 633px) {
    .FormCard {
      width: 400px;
    }
    .Main
    {
      display: grid;
      grid-template-columns: auto;
    }
  }
  @media screen and (max-width: 540px) {
    .FormCard {
      width: 300px;
    }
    .Main
    {
      display: grid;
      grid-template-columns: auto;
    }
  }
  @media screen and (max-width: 423px) {
    .FormCard {
      width: 250px;
    }
    .Main
    {
      display: grid;
      grid-template-columns: auto;
    }
    input
    {
      padding:0px;
    }
  }
  @media screen and (max-width: 323px) {
    .FormCard {
      width: 200px;
    }
    input{
      width:200px;
    }
  }
  @media screen and (max-width: 263px) {
    .FormCard {
      width: 150px;
    }
    input{
      width:150px;
    }
  }
  @media screen and (max-width: 212px) {
    .FormCard {
      width: 100px;
    }
    input{
      width:100px;
    }
  }
  @media screen and (max-width: 163px) {
    .FormCard {
      width: 50px;
    }
    .FormCard h1
    {
      font-size: 20px;
    }
    label
    {
      font-size: 10px;
    }
    input{
      width:50px;
    }
  }